In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

In [2]:
links = pd.read_csv('ml-latest-small/links.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')
tags = pd.read_csv('ml-latest-small/tags.csv')

In [3]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [7]:
d=datetime.fromtimestamp(tags['timestamp'][1])

**Выделим 10ку самых акивных пользователей по числу оценок, а так же количеству тэгов**

In [8]:
ratings.groupby('userId')['rating'].count().sort_values(ascending=False)[:10]

userId
414    2698
599    2478
474    2108
448    1864
274    1346
610    1302
68     1260
380    1218
606    1115
288    1055
Name: rating, dtype: int64

In [9]:
tags.groupby('userId')['tag'].count().sort_values(ascending=False)[:10]

userId
474    1507
567     432
62      370
599     323
477     280
424     273
537     100
125      48
357      45
318      41
Name: tag, dtype: int64

**Пользователь с номером 474 достаточно активен в обоих наборах данных**

In [10]:
tags474 = tags[tags['userId']==474][['movieId', 'tag', 'timestamp']]
ratings474 = ratings[ratings['userId']==474][['movieId', 'rating', 'timestamp']]

**Сначала векторизуем тэги**

In [11]:
tags474.tag = tags474['tag'].apply(lambda x: ' '.join(x.replace(' ', '').replace('-','').split()))

In [12]:
countvec = CountVectorizer()
tags474vec = countvec.fit_transform(tags474.tag)
tfidf = TfidfTransformer()
tags474tfidf = tfidf.fit_transform(tags474vec)

In [13]:
countvec.vocabulary_

{'pixar': 377,
 'game': 192,
 'pregnancy': 385,
 'remake': 413,
 'politics': 381,
 'president': 388,
 'mafia': 293,
 'janeausten': 261,
 'hollywood': 229,
 'serialkiller': 444,
 'alcoholism': 20,
 'shakespeare': 447,
 'innetflixqueue': 250,
 'kidnapping': 274,
 'highschool': 224,
 'teacher': 500,
 'timetravel': 513,
 'animalmovie': 30,
 'pigs': 376,
 'deathpenalty': 135,
 'nun': 353,
 'twins': 530,
 'emma': 163,
 'southafrica': 467,
 'england': 165,
 'journalism': 270,
 'wedding': 551,
 'heist': 220,
 'adoption': 13,
 'prostitution': 394,
 'writing': 565,
 'music': 334,
 'jekyllandhyde': 266,
 'theater': 509,
 'crime': 124,
 'golf': 203,
 'muppets': 332,
 'scotland': 440,
 'assassination': 41,
 'holocaust': 230,
 'dating': 130,
 'moon': 320,
 'nasa': 338,
 'space': 470,
 'superhero': 496,
 'michaelcrichton': 310,
 'submarine': 491,
 'computers': 116,
 'mademecry': 292,
 'generationx': 196,
 'school': 439,
 'ireland': 256,
 'mentalillness': 306,
 'psychology': 396,
 'stephenking': 488,
 'moviebusiness': 326,
 'basketball': 53,
 'france': 187,
 'infertility': 248,
 'australia': 44,
 'beethoven': 57,
 'einstein': 161,
 'court': 122,
 'darthvader': 129,
 'lukeskywalker': 290,
 'spaceopera': 471,
 'louisamayalcott': 289,
 'girlpower': 201,
 'india': 245,
 'christmas': 103,
 'prison': 391,
 'disability': 143,
 'hitmen': 228,
 'tv': 529,
 'death': 134,
 'marriage': 296,
 'wrongfulimprisonment': 566,
 'enterprise': 166,
 'coma': 115,
 'weddings': 552,
 'crossdressing': 125,
 'menindrag': 305,
 'remade': 412,
 'tomclancy': 520,
 'johngrisham': 268,
 'interracialromance': 253,
 'shrimp': 455,
 'vietnam': 541,
 'gambling': 191,
 'disney': 145,
 'bus': 81,
 'spies': 476,
 'edithwharton': 160,
 'horses': 233,
 'oscar': 361,
 'bestactress': 58,
 'basedonatvshow': 52,
 'hulahoop': 237,
 'biopic': 64,
 'dinosaur': 141,
 'japan': 262,
 'sexuality': 446,
 'divorce': 146,
 'aids': 18,
 'radio': 404,
 'showbusiness': 454,
 'butler': 84,
 'housekeeper': 234,
 'military': 313,
 'racism': 403,
 'violence': 542,
 'football': 185,
 'chess': 98,
 'lewis': 282,
 'largecast': 277,
 'race': 402,
 'empirestatebuilding': 164,
 'robots': 423,
 'beatpoetry': 56,
 'halloween': 212,
 'adolescence': 12,
 'overrated': 364,
 'americanindians': 24,
 'nativeamericans': 339,
 'hanniballector': 215,
 'coenbrothers': 110,
 'priest': 389,
 'babies': 47,
 'gulfwar': 209,
 'spoof': 477,
 'bugsbunny': 80,
 'veterinarian': 539,
 'aardman': 7,
 'alcatraz': 19,
 'disaster': 144,
 'aliens': 21,
 'atomicbomb': 43,
 'drugabuse': 156,
 'adultery': 14,
 'capote': 92,
 'falling': 174,
 'voyeurism': 547,
 'screwball': 442,
 'brooch': 78,
 'mountrushmore': 325,
 'startofabeautifulfriendship': 484,
 'statue': 486,
 'georgebernardshaw': 198,
 'richguypoorgirl': 417,
 'italy': 259,
 'royalty': 429,
 '1900s': 1,
 'dorothy': 154,
 'toto': 521,
 'civilwar': 105,
 'television': 504,
 'movies': 327,
 'rosebud': 428,
 'hal': 211,
 'mrs': 329,
 'dewinter': 138,
 'europe': 168,
 'war': 548,
 'amnesia': 26,
 'coldwar': 112,
 'russia': 430,
 'swashbuckler': 499,
 'ghosts': 200,
 'shangrila': 449,
 'astaireandrogers': 42,
 'homeless': 232,
 'oil': 357,
 'nickandnoracharles': 344,
 'leopard': 281,
 'fugitive': 189,
 'zombies': 569,
 'missionary': 317,
 'tennesseewilliams': 505,
 'hemingway': 221,
 'food': 184,
 'kingarthur': 275,
 'nanny': 337,
 'rogersandhammerstein': 424,
 'antisemitism': 34,
 'governess': 206,
 'fish': 182,
 'bible': 60,
 'parody': 368,
 'religion': 411,
 '1920s': 2,
 'gangsters': 194,
 'dance': 127,
 '1960s': 4,
 'jimmorrison': 267,
 'navy': 340,
 '1950s': 3,
 'aging': 17,
 'clousseau': 109,
 'boxing': 74,
 'police': 380,
 'iamyourfather': 239,
 'inigomontoya': 249,
 'sixfingeredman': 461,
 'archaeology': 36,
 'arkofthecovenant': 37,
 'indianajones': 246,
 'spaghettiwestern': 473,
 'middleeast': 312,
 'brainwashing': 75,
 'harperlee': 216,
 'ferriswheel': 179,
 'venice': 537,
 'zither': 568,
 'samurai': 435,
 'normanbates': 349,
 'saturdaynightlive': 436,
 'mozart': 328,
 'salieri': 433,
 'newyork': 343,
 'theentertainer': 510,
 'maydecemberromance': 301,
 'shakespearesortof': 448,
 'blackandwhite': 66,
 'simonandgarfunkel': 457,
 'pow': 383,
 'incest': 243,
 'cold': 111,
 'skiing': 462,
 'revenge': 416,
 'murder': 333,
 'worldwarii': 564,
 'nazis': 341,
 'gunfight': 210,
 'hammett': 213,
 'heavymetal': 219,
 'mockumentary': 318,
 'holygrail': 231,
 'forster': 186,
 'cambodia': 86,
 'baseball': 51,
 'birds': 65,
 'lawyer': 279,
 'prom': 393,
 'vampires': 535,
 'demons': 136,
 'personalsads': 373,
 'borg': 72,
 'excon': 171,
 'arthurmiller': 39,
 'dogs': 150,
 'klingons': 276,
 'captainkirk': 93,
 'whales': 554,
 'shark': 450,
 'sports': 478,
 'spying': 479,
 'slasher': 463,
 'hawkeye': 217,
 'jamesfennimorecooper': 260,
 'conan': 117,
 'andrewlloydweber': 28,
 'jungle': 272,
 'tolstoy': 519,
 'reunion': 415,
 'ballroomdance': 50,
 'dinosaurs': 142,
 'transplants': 525,
 'twistending': 531,
 '1970s': 5,
 'queenvictoria': 400,
 'lawyers': 280,
 'henryjames': 222,
 'future': 190,
 'amish': 25,
 'alternateuniverse': 23,
 'savannah': 437,
 'sequel': 443,
 'canada': 89,
 'shipwreck': 452,
 'charlesdickens': 96,
 '1980s': 6,
 'nodvdatnetflix': 348,
 'conspiracy': 119,
 'mathematics': 300,
 'ships': 451,
 'judaism': 271,
 'hueylong': 236,
 'robertpennwarren': 422,
 'couldabeenacontender': 121,
 'gangs': 193,
 'dickens': 140,
 'drugs': 157,
 'olympics': 358,
 'africa': 15,
 'china': 102,
 'autism': 45,
 'rasicm': 407,
 'jason': 263,
 'california': 85,
 'mexico': 308,
 'katzanzakis': 273,
 'generalmotors': 195,
 'michigan': 311,
 'memory': 304,
 'suburbia': 492,
 'carnival': 94,
 'raybradbury': 408,
 'mermaid': 307,
 'weatherforecaster': 550,
 'hinton': 225,
 'tolkein': 518,
 'mice': 309,
 'aquarium': 35,
 'boston': 73,
 'capone': 91,
 'survival': 498,
 'smalltowns': 465,
 'paranoia': 366,
 'train': 523,
 'inyoureyes': 255,
 'lloyddobbler': 285,
 'freaks': 188,
 'broadway': 77,
 'terrorism': 507,
 'southamerica': 468,
 'moses': 322,
 'martialarts': 297,
 'email': 162,
 'doctors': 148,
 'hungary': 238,
 'stapler': 483,
 'workplace': 562,
 'evilchildren': 169,
 'siam': 456,
 'southernus': 469,
 'golfing': 204,
 'virtualreality': 545,
 'motherhood': 323,
 'prequel': 387,
 'theforce': 511,
 'alternateendings': 22,
 'startrek': 485,
 'spiders': 475,
 'claimstobetrue': 106,
 'video': 540,
 'crucifixion': 126,
 'rome': 427,
 'slavery': 464,
 'nostalgia': 350,
 'iseedeadpeople': 257,
 'aviation': 46,
 'children': 100,
 'beatles': 55,
 'river': 419,
 'academyaward': 9,
 'bestsupportingactress': 59,
 'indonesia': 247,
 'nightclub': 346,
 'island': 258,
 'brothers': 79,
 'lawnmower': 278,
 'liveaction': 284,
 'animation': 31,
 'anime': 32,
 'tobacco': 515,
 'truestory': 527,
 'dancemarathon': 128,
 'class': 107,
 'camp': 88,
 'upseries': 533,
 'ichabodcrane': 240,
 'depression': 137,
 'dustbowl': 159,
 'grahamgreene': 208,
 'fatherhood': 177,
 'andykaufman': 29,
 'adingoatemybaby': 11,
 'nuns': 354,
 'plasticsurgery': 379,
 'figureskating': 180,
 'bigtop': 62,
 'circus': 104,
 'blind': 67,
 'orphans': 360,
 'subway': 493,
 'peacecorp': 370,
 'scandal': 438,
 'college': 114,
 'toga': 516,
 'insurance': 251,
 'pearlsbuck': 371,
 'hepburnandtracy': 223,
 'interracialmarriage': 252,
 'prejudice': 386,
 'factory': 172,
 'pool': 382,
 'evolution': 170,
 'nickhornby': 345,
 'peterpan': 374,
 'families': 175,
 'psychiatrist': 395,
 'rabbi': 401,
 'suicide': 494,
 'business': 82,
 'peeweeherman': 372,
 'mining': 314,
 'missingchildren': 316,
 'diabetes': 139,
 'televangelist': 503,
 'rollingstone': 426,
 'blindness': 68,
 'invisibility': 254,
 'ballet': 49,
 'family': 176,
 'dr': 155,
 'seuss': 445,
 'standupcomedy': 482,
 'pageant': 365,
 'bluegrass': 69,
 'quakers': 399,
 'psychopaths': 397,
 'realitytv': 410,
 'eugeneo': 167,
 'neill': 342,
 'preacher': 384,
 'virginity': 544,
 'hanniballecter': 214,
 'vonbulow': 546,
 'backwards': 48,
 'singletons': 459,
 'nabokov': 336,
 'union': 532,
 'fairytales': 173,
 'strangersonatrain': 490,
 'accident': 10,
 'rape': 406,
 'immigrants': 241,
 'hippies': 227,
 'prodigies': 392,
 'nucleardisaster': 352,
 'lorettalynn': 287,
 'tradition': 522,
 'magic': 294,
 'wizards': 559,
 'singers': 458,
 'whimsical': 555,
 'agathachristie': 16,
 'ghost': 199,
 'dumas': 158,
 'books': 71,
 'sisterhood': 460,
 'women': 561,
 'oscarwilde': 362,
 'youngermen': 567,
 'asbyatt': 40,
 'photography': 375,
 'bombs': 70,
 'lougehrig': 288,
 'violenceinamerica': 543,
 'pudding': 398,
 'worldwari': 563,
 'art': 38,
 'teenagers': 502,
 'salutetodouglassirk': 434,
 'musicbusiness': 335,
 'shortfilms': 453,
 'jazz': 264,
 'planes': 378,
 'widows': 557,
 'widowers': 556,
 'doll': 151,
 'chile': 101,
 'obsession': 355,
 'stephencrane': 487,
 'dayandhudson': 131,
 'stonesofsummer': 489,
 'soccer': 466,
 'lions': 283,
 'bigbrothers': 61,
 'titanic': 514,
 'spellingbee': 474,
 'jeangrey': 265,
 'magneto': 295,
 'rogue': 425,
 'wolverine': 560,
 'teachers': 501,
 'trains': 524,
 'retro': 414,
 'theymightbegiants': 512,
 'childabuse': 99,
 'ninotchkaremake': 347,
 'tokyo': 517,
 'dodiesmith': 149,
 'flood': 183,
 'immigration': 242,
 'othello': 363,
 'cancer': 90,
 'roadtrip': 420,
 'multipleroles': 331,
 'fbi': 178,
 'terminalillness': 506,
 'conmen': 118,
 'vertriloquism': 538,
 'matchmaker': 299,
 'vampire': 534,
 'biking': 63,
 'lonesomepolecat': 286,
 'watergate': 549,
 'britishcomedy': 76,
 'domesticviolence': 152,
 'werewolf': 553,
 'thanksgiving': 508,
 'ritahayworthcandance': 418,
 'rap': 405,
 'saint': 431,
 'goodandevil': 205,
 'scottturow': 441,
 'cattledrive': 95,
 'marxbrothers': 298,
 'opera': 359,
 'realestate': 409,
 'charlottebronte': 97,
 'truckers': 526,
 'mountainclimbing': 324,
 'grace': 207,
 'multiplepersonalities': 330,
 'deaf': 132,
 'spacestation': 472,
 'macbeth': 291,
 'amtrak': 27,
 'independent': 244,
 'sundanceawardwinner': 495,
 'vangogh': 536,
 'notavailablefromnetflix': 351,
 'anneboleyn': 33,
 'clock': 108,
 'prince': 390,
 'convent': 120,
 'ogres': 356,
 'deafness': 133,
 'mcdonalds': 303,
 'docock': 147,
 'coleporter': 113,
 'standup': 481,
 'parenthood': 367,
 'stage': 480,
 'wine': 558,
 'abortion': 8,
 'hearst': 218,
 'gold': 202,
 'mirrors': 315,
 'donkey': 153,
 'saints': 432,
 'camels': 87,
 'surfing': 497,
 'genocide': 197,
 'roalddahl': 421,
 'howardhughes': 235,
 'busniess': 83,
 '06oscarnominatedbestmovieanimation': 0,
 'parrots': 369,
 'money': 319,
 'hiphop': 226,
 'firefly': 181,
 'bears': 54,
 'trumancapote': 528,
 'courtroomdrama': 123,
 'mccarthyhearings': 302,
 'morrow': 321,
 'johnnycash': 269}

In [14]:
tags474tfidf = tags474tfidf.toarray()

In [15]:
for column in range(tags474tfidf.shape[1]):
    col_name = 't'+ str(column)
    tags474[col_name] = pd.Series(tags474tfidf[:,column])

**Векторизуем жанры. Заодно выделим год создания фильма в отдельный параметр**

In [16]:
movies['genres'] = movies.apply(lambda x: ' '.join(x['genres'].replace(' ', '').replace('-','').split('|')), axis=1)

In [17]:
def extract_year(x):
    try:
        return int(x.rstrip()[-5:-1])
    except:
        return 0

In [18]:
movies['year'] = movies['title'].apply(extract_year)

In [19]:
movies = pd.get_dummies(movies, columns=['year'])

In [20]:
tfidfvec = TfidfVectorizer()
tfidfgenres = tfidfvec.fit_transform(movies.genres)
tfidfgenres = tfidfgenres.toarray()

In [21]:
for column in range(tfidfgenres.shape[1]):
    col_name = 'g'+ str(column)
    movies[col_name] = pd.Series(tfidfgenres[:,column])

**Добавим средний рейтинг к фильмам**

In [22]:
rating_mean = ratings.groupby('movieId')[['rating']].mean()

In [23]:
movies=movies.join(rating_mean, on='movieId')

In [24]:
movies.rename(columns={'rating':'mean_rating'}, inplace=True)

**Далее все объединяем**

In [25]:
user474 = ratings474.join(tags474.set_index('movieId'), on='movieId', lsuffix='_rating', rsuffix='_tag')

In [26]:
user474 = user474.join(movies.set_index('movieId'), on='movieId')

In [27]:
user474.drop(labels=['tag', 'title', 'genres', 'movieId','timestamp_rating', 'timestamp_tag'], axis=1, inplace=True)

In [28]:
user474.fillna(value=0, inplace=True)

**Подготовка модели**

In [29]:
X = user474.drop(labels=['rating'], axis=1)
y = user474.rating

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [46]:
model = KNeighborsRegressor()

In [47]:
grid = GridSearchCV(model, {'n_neighbors':range(10,15,1), 'p':[1,2]}, cv=5, scoring='neg_mean_squared_error')

In [48]:
grid.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_neighbors': range(10, 15), 'p': [1, 2]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

In [49]:
grid.best_params_

{'n_neighbors': 12, 'p': 2}

In [50]:
mean_squared_error(y_test, grid.predict(X_test))

0.4389379910213243

In [51]:
mean_absolute_error(y_test, grid.predict(X_test))

0.5064534231200898

**Ошибка в 0.5 баллов не должна быть сильно критичной.**